@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');



* {overflow-x: hidden;
font-family:lekton;
  background:var(--primary-color);
  
  
}

a {text-decoration:none;}

:root {
  --primary-color: #f3f6fc;
  --secondary-color: blue;
  
}




#contact {position:fixed;
  
  right:0;
  top:10px;
          padding:20px;
          font-size:20px;
   box-shadow: 4px 4px 10px 2px blue;
          background:white;
  }



#game {border-radius:50vw;
   background:white;
   border:1px solid blue;
   
   text-decoration:none;
  position:fixed;
  bottom:2vh;
  padding:3vw;}

a:hover {box-shadow: 4px 4px 10px 2px blue;}

#contact:hover {box-shadow: 7px 7px 17px 9px blue;}

@media only screen and (max-width: 490px) {

  
  #game {padding:3vh;
    
     
    }
}
