@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');



* {
font-family:lekton;
  background:var(--primary-color);
}

:root {
  --primary-color: #f3f6fc;
  --secondary-color: blue;
  
}

.pdf {width:600px;
     height:300px;}
a {border-radius:50vw;
   background:crimson;
   
   text-decoration:none;
  position:fixed;
  bottom:2vh;
  padding:3vw;}

a:hover {background:white;}

@media only screen and (max-width: 490px) {

  .pdf {width:100vw;
        margin:0;
       }
  a {padding:3vh;
    font-style:bold;
    }
}
